.back-ground-content {
    background: #EEFFF6;
}

.back-ground-content-title {
    background: #FAFAFA;
}

.back-ground-content-job {
    background: #FFFFFF;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.title-card-save {
    width: 420px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-card2 {
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-job {
    position: relative;
}

.card-heart {
    position: absolute;
    top: 0px;
    right: -4px
}

.backGround_list {
    border-style: solid;
    border-color: #2fca3c;
}