.inputRounded .MuiOutlinedInput-root {
    border-radius: 20px;
}

.backGround_search {
    border-style: solid;
    border-color: #2fca3c;
}

.InputLabel {
    background-color: #000000 !important;
}

.title-brand-name1 {
    display: -webkit-box;
    height: 24px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 24px;
}

.about-brand {
    display: -webkit-box;
    height: 100px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 5;
    line-height: 14px;
}